/* mealsCardsItems : */

.piza_page_wrapper {
  margin-top: 120px;
}
.mealsCardsItems {
  position: relative;
  /* top: 70px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
}
/* .pizaItemBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
} */
.pizzaItemContainer {
  margin: 0px 0 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item_img {
  max-width: 220px;
  max-height: 150px;
  border-radius: 5px;
  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}
.item_img:hover {
  transform: scale(1.05); /* Slight zoom effect */
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.5); /* Enhances shadow on hover */
}
.pizaItemWithDescription {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
}
.pizaItemWithDescription h3 {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
.pizaItemWithDescription select {
  margin: 10px 0 10px 0;
  width: 80px;
  cursor: pointer;
  color: #fff;
}
.pizaItemWithDescription select option{
  color: black;
}
.pizaItemWithDescription .buyPizzaBtn {
  width: 70px;
  height: 25px;
}
.pizaItemWithDescription .addPizzaBtn {
  width: 70px;
  height: 25px;
  margin-left: 10px;
}


/* pizzaIngridientsToAdd : */

.pizzaIngridientsToAdd {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}
.addIngrid_title {
  text-align: center;
  font-size: 20px;
}
.addIngridHeader {
  background-color: rgba(244, 206, 116, 0.2);
  height: 70px;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

.ingridItem {
  width: 150px;
  height: 150px;
  background-color: blueviolet;
  border: 3px solid red;
  margin: 30px;
}
.ingridItemWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px;
}
.ingridItemWrapper .addPizzaBtn {
  width: 70px;
  height: 25px;
  margin-top: 10px;
}
