.gril_page_wrapper {
  margin-top:120px
}

.grilItemWithDescription {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
}
.grilItem {
  width: 200px;
  height: 200px;
  background-color: chocolate;
  border: 3px solid red;
}
.grilItemWithDescription h3 {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
.grilItemWithDescription .weithOfgrilItem {
  margin: 0 0 10px 0;
}
.grilItemWithDescription .buyItemBtn {
  width: 70px;
  height: 25px;
}
.grilItemWithDescription .grilItemPrice {
  margin-bottom: 10px;
}
.grilItemWithDescription .addItemBtn {
  width: 70px;
  height: 25px;
  margin-left: 10px;
}
