.wrapper {
  height: 300px;
  background-color: #fff;
  color: black;
  display: flex;
  flex-direction: column;
}
.logo {
  text-align: center;
  margin-top: 50px;
}

.footerLogo {
  margin-top: 30px;
  height: 160px;
  width: 145px;
}
.phone {
font-size: 22px;
  text-decoration: none;
  color: black;
  display: block;
}

.footerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
