.searchComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  margin: 40px 20px 0;
}
.searchComponent input {
  min-width: 350px;
  margin-right: 15px;
}
@media (max-width: 767px) {
  .searchComponent input {
    margin-right: 0;
  }
  .searchComponent {
    flex-direction: column;
    height: 140px;
  }
  .searchComponent button {
    margin-top: 20px;
  }
}
