.mainMenuHeadBar {
  position: relative;
  top: 80px;
  height: 85px;
  background-color: rgba(244, 206, 116, 0.2);
  margin-top: 10px;
  color: white;
  text-align: center;
  z-index: -1;
}
.mainMenuHeadBar h1 {
  padding-top: 15px;
}

.itemWithDescription {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
}
.mainMenuItem {
  width: 200px;
  height: 200px;
  background-color: chocolate;
  border: 3px solid red;
}
.itemWithDescription h3 {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
.itemWithDescription .weithOfItem {
  margin: 0 0 10px 0;
}
.itemWithDescription .buyItemBtn {
  width: 70px;
  height: 25px;
}
.itemWithDescription .itemPrice {
  margin-bottom: 10px;
}
.itemWithDescription .addItemBtn {
  width: 70px;
  height: 25px;
  margin-left: 10px;
}
