@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.app {
  display: flex;
  flex-direction: column;
}
body {
  background: linear-gradient(135deg, #000000 0%, #434343 100%);
  margin: 0 0;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
.headBar {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}
.headBarNemuButn button {
  margin-left: 30px;
}
.pizzaLogo {
  background-image: url(/src/images/restourant_logo.jpg);
  background-repeat: no-repeat;
  border: none;
  height: 80px;
  margin-left: 15px;
  padding: 2px 2px;
  width: 68px;
  cursor: pointer;
  margin-bottom: 5px;
}
.facebookBtn {
  background-image: url(/src/images/facebok_logo.png);
  width: 32px;
  height: 50px;
  border: none;
  padding: 0 0;
  cursor: pointer;
  margin-bottom: 5px;
  margin-right: 5px;
}
.instaBtn {
  background-image: url(/src/images/instaIcon.png);
  width: 45px;
  height: 50px;
  border: none;
  padding: 0 0;
  cursor: pointer;
  margin-bottom: 5px;
  margin-left: 5px;
}
.getOnStoresBtns {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
.getOnAppleStore {
  background-image: url(/src/images/download-on-apple-store.jpg);
  width: 300px;
  height: 89px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 5%;
}
.getOnGooglePlay {
  background-image: url(/src/images/getOnGooglePlay.jpg);
  width: 300px;
  height: 89px;
  cursor: pointer;
  border: 4px solid black;
  border-radius: 10px;
  background-repeat: no-repeat;
  margin-left: 5%;
}
.menuGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
  text-align: center;
}
.menuGrid div {
  margin-top: 30px;
  margin-bottom: 30px;
}

.containerForTextBottomLeft {
  position: relative;
  text-align: center;
  color: white;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 22px;
  font-family: cursive;
}
.searchComponent {
  background-color: rgba(0, 0, 0, 0.6);
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchComponent input {
  min-width: 350px;
  margin-right: 15px;
  background-repeat: no-repeat;
}

/* FooterComponent : */
.footBar {
  text-align: center;
  background-color: white;
  margin-top: 50px;
}

.footerLogo {
  margin-top: 30px;
  background-image: url(/src/images/restourant_logoForFooter.jpg);
  height: 160px;
  width: 145px;
}
.numberInFooter {
  text-decoration: none;
  color: black;
  display: block;
}
.numberInFooter h1 {
  margin: 15px 0 0 0;
}
.footerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* fonts  */

.light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}
