@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* normalize styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding and borders are included in element width/height */
}

html,
body {
  background: linear-gradient(135deg, #000000 0%, #434343 100%);
  background-size: cover;
  margin: 0 0;
  font-family: "Poppins", sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%; /* Ensure full height of page */
  line-height: 1.5; /* Improves readability */
  color: #fff; /* Set default text color */
  scroll-behavior: smooth; /* Smooth scrolling */
}
img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff; /* Set default text color */
}
input,
button,
textarea,
select {
  font-family: inherit; /* Use the font set on body */
  font-size: inherit;
  border: none;
  outline: none;
  background: none;
}
button {
  cursor: pointer; /* Ensure all buttons show a pointer cursor */
  padding: 0;
  background-color: transparent;
  color: #fff; /* Set default text color */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
/* normalize styles */
.app {
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
  min-height: calc(100vh - 300px);
  padding-bottom: 60px;
}

.title {
  font-size: 35px;
  text-align: center;
}
@media (max-width: 767px) {
  .title {
    font-size: calc(18px + (35 - 18) * ((100vw - 320px) / (767 - 320)));
  }
}
/* fonts  */

.light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}
/* custom buttons */
.customButton {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.customButton:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.customButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.customButton:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
