/* Grid layout for menu */
.menuGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 40px; /* Adds spacing between grid items */
  margin: 0 20px;
}

/* Grid items */
.menuGrid div {
  margin-top: 30px;
}

/* Image container to center the images */
.imageContainer {
  position: relative; /* Needed for shadow effect */
  display: flex;
  justify-content: center;
}

/* Styling the images */
.imageContainer img {
  border-radius: 10px;
  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.3); /* Adds a shadow around the images */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
  width: 100%;
}

/* Hover effect on images: scaling and shadow change */
.imageContainer img:hover {
  transform: scale(1.05); /* Slight zoom effect */
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.5); /* Enhances shadow on hover */
}

/* Text container for captions */
.textContainer {
  position: relative;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6); /* Adds a subtle text shadow */
}
.text {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 22px;
}
@media (max-width: 767px) {
  .menuGrid {
    grid-template-columns: 1fr;
  }
  .text {
    font-size: 18px;
  }

  .imageContainer a {
    max-width: 80%;
  }
}
