.getOnStoresBtns {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.getOnAppleStore {
  background-image: url(/src/assets/images/download-on-apple-store.jpg);
  width: 300px;
  height: 89px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 5%;
}
.getOnGooglePlay {
  background-image: url(/src/assets/images/getOnGooglePlay.jpg);
  width: 300px;
  height: 89px;
  cursor: pointer;
  border: 4px solid black;
  border-radius: 10px;
  background-repeat: no-repeat;
  margin-left: 5%;
}
@media (max-width: 767px) {
  .getOnStoresBtns {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .getOnAppleStore {
    margin: 0 20px 0;
  }
  .getOnGooglePlay {
    margin: 20px 20px;
  }
}
